.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
__pycache__
.build
.play32root
data/**
!data/hw_config.json
!data/hw_config(ssd1351).json
!data/sys_config.json
!data/battery.dat
tmp/**
